.ipray-results-pagination li{
	list-style:none;
	float:left;
	margin-right:10px;
	border:1px solid #eee;
	border-radius:3px;
	padding:3px 8px;
}
.ipray-results-pagination li a{
	text-decoration:none;
	display:inline-block;
}
.ipray-results-pagination li.active span.current{
	font-weight:700;
}
.ipray-results-pagination li.active span.current.prev, .ipray-results-pagination li.active span.current.next{
	font-weight:400;
	color:#ccc
}
.ipray-results-pagination{
	margin-top:30px;
}
.ipray-links:before, .ipray-links:after, .ipray-results-pagination:before, .ipray-results-pagination:after{
	content:" ";
	display:table;
}
.ipray-links:after, .ipray-results-pagination:after{
	clear:both;
}
label.error{
	position:relative;
	top:-15px;
	font-size:12px;
	font-weight:400;
	color:red;
}
.ipray-search-results{
	margin:30px 0;
}
.ipray-prayer .meta-data{
	display:inline-block;
	margin-left:5px;
}
.ipray-count-area{
	margin-bottom:50px;
	margin-left:20px;
}
#newsletter-container, #ipray-prayers-container{
	margin:40px 0;
}
.ipray-submitlink.deactive{
	cursor:default;
	background:#ccc;
}
.ipray-submitlink.deactive:hover, .ipray-submitlink.deactive:active, .ipray-submitlink.deactive:focus{
	background:#ccc;
}
.ipray-submitlink.active{
	-webkit-box-shadow:none!important;
	box-shadow:none!important;
}